<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	 th:replace="~{user/base :: layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>User panel dashboard</title>
</head>
<body>
	<section>
		<!-- Main Content Area -->
		
			<!-- Dashboard View -->
			<div id="dashboard-view" class="content-view active">
				<h1 class="h2 mb-4">Welcome back, <span th:text="${user.name}"></span> </h1>
				<p class="text-muted">Ready to test your knowledge? Choose a
					category below to start a new quiz.</p>
				<hr class="my-4">
				
				<div class="row">
					<div class="col-md-4 mb-4" th:each="cat : ${categories}">
						<div class="card category-card java">
							<div class="card-body text-center p-4">
								<i class="bi bi-code-slash fs-1"></i>
								<h5 class="card-title mt-3" th:text="${cat.title}"></h5>
								<!-- <button class="btn btn-light mt-3" data-bs-toggle="modal"
									data-bs-target="#quizStartModal" data-category="Java"
									data-time="5" data-questions="10">Start Quiz</button> -->
									<a th:href="@{'/user/quiz-attempt/' + ${cat.id}}" class="btn btn-light mt-3">Start Quiz</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		
	</section>

</body>
</html>